body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
}
.header-color1 {
  color: #2196f3;
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  color: #000;
}
.site-nav:hover,
.site-nav:focus {
  color: #2196f3;
}

.hero-section {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}

.button-color1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}
.button-color1:hover,
.button-color1:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  background-color: #2196f3;
}

.features {
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.what-we-do-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
.our-team-style {
  background-color: #f5f4fa;
}
.our-team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.our-team-profession {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.projects-style-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}
.projects-style-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: white;
  background-color: #2196f3;
}

.footer-style {
  background-color: black;
}
.footer-color2 {
  color: white;
}
.address {
  font-style: normal;
  color: white;
}
.phone-mail {
  color: #757575;
}
.phone-mail:hover,
.phone-mail:focus {
  color: #2196f3;
}
